
<label for="basic-url" class="mt-3">Digite algo: </label>
<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="algo" id="basic-url" aria-describedby="basic-addon3" [(ngModel)]="inputNormal">
</div>
<button class="btn btn-primary" (click)="captura()">Submit</button>

<div *ngIf="capturaInput==''; else templateElse"></div>
<ng-template #templateElse>
    <ng-container *ngIf="capturaInput=='algo'; else templateElse2">
        <div class="alert alert-success mt-3" role="alert">
            Sucesso!
        </div>
    </ng-container>
</ng-template>
<ng-template #templateElse2>
        <div class="alert alert-danger mt-3" role="alert">
            ERRO, tente novamente! Dica: é literal
        </div>
</ng-template>