<div class="container">
    <h1 class="position-absolute top-30 start-50 translate-middle-x">Lista de Tarefas</h1>
    <div class="p-5 mt-4 mb-4 bg-light rounded-3">
        <label for="basic-url" class="form-label">Digite sua tarefa</label>
        <div class="input-group mb-3">
            <input type="text" [(ngModel)]="itemInput" class="form-control" id="basic-url"
                aria-describedby="basic-addon3">
        </div>
        <button class="btn btn-primary" (click)="enviaItem()">Submit</button>
        <div *ngIf="exibeErro" class="alert alert-danger mt-2" role="alert">
            Você inseriu um caractere inválido, tente novamente!
        </div>
    </div>
    <div class="p-5 mt-4 mb-4 bg-light rounded-3">
        <h2 class="mb-4">Tarefas</h2>
        <div *ngIf="listaTarefas.length==0" class="alert alert-warning" role="alert">
            Sem itens na lista de tarefas!
        </div>
        <ul class="list-group">
            <li class="list-group-item mt-2" *ngFor="let item of listaTarefas">{{ item }}</li>
        </ul>
    </div>
</div>