<app-navbar></app-navbar>
<div class="container">

  <h1>{{ texto | captalizePhillips }}</h1>
  <router-outlet></router-outlet>
  <app-modal>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis autem aut et neque reprehenderit perferendis odit
      minus, adipisci ipsum rem aliquam aspernatur cumque repudiandae, ipsam iusto voluptatum, at inventore doloribus?
    </p>
  </app-modal>
  <app-teste-card>
    <h1 class="titulo mt-2 px-2" id="titulo">Título</h1>
    <h2 class="subtitulo px-2" id="desc">Descrição</h2>
    <hr>
    <p class="texto px-2" id="textoP">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti non ipsum explicabo, consequuntur odit
        consectetur aperiam voluptatum accusamus distinctio deserunt quidem vero odio expedita, iste, iusto sapiente eos
        nulla? Quos?</p>
  </app-teste-card>
  <app-ex7></app-ex7>
</div>