<!-- <div class="container" *ngFor="let item of itens">
    <ul class="list-group" [ngClass]="item.lido == true ? 'lido' : 'nlido'">
        <li class="list-group-item">{{ item.titulo }}</li>
        <li class="list-group-item">{{ item.subtitulo }}</li>
        <li class="list-group-item">{{ item.data }}</li>
        <li class="list-group-item"><button 
            [ngClass]="item.lido == true ? 'btn btn-success' : 'btn btn-danger'"
            (click)="item.lido=!item.lido">Lido 
            <i
            [ngClass]="item.lido == true ? 'bi bi-check' : 'bi bi-x-lg'">
            </i></button></li>
    </ul>
</div> -->
<ntap-filtragem (filtraEvento)="botaoFiltro($event)"></ntap-filtragem>
<div class="container">
    <div class="list-group d-flex mt-5">
        <a class="list-group-item list-group-item" *ngFor="let item of itens"
            [ngClass]="item.lido == true ? 'lido' : 'nlido'">
        <img src="{{ item.imagem }}" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0"/>
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ item.titulo }}</h5>
                <small class="mt-1">{{ item.data }}</small>
            </div>
            <p class="mb-1">{{ item.subtitulo }}</p>
            <button [ngClass]="item.lido == true ? 'btn btn-secondary' : 'btn btn-danger'"
                (click)="lerNotificacao(item)">
                <i [ngClass]="item.lido == true ? 'bi bi-eye-slash-fill' :  'bi bi-eye-fill'">
                </i>
            </button>
        </a>
    </div>
</div>