<philips-navbar (actionOutput)="consoleEvent($event)"></philips-navbar>
<philips-form></philips-form>
<div class="container mt-3">
    <philips-item-card
        [personagem]="{nome: 'K', 
        ator: 'Ryan Gosling', 
        imagem: 'https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.hdwallpapers.in%2Fdownload%2Fryan_gosling_blade_runner_2049_hd-wide.jpg&f=1&nofb=1&ipt=7ad0a97bba06ac9dee97963f8267cbccf0161a376d2e528206ab459ee90e64fc&ipo=images', 
        descricao: 'K, um replicante (humano sintético criado por bioengenharia) que trabalha como blade runner (caçador de androides) para a polícia de Los Angeles.'}">
    </philips-item-card>
    <philips-form-ex7></philips-form-ex7>
</div>